<main class="main-container" appScaleContent>
  <section class="upper-part" *ngIf="profile">
    <div class="main-player">
      <div class="user-rank">
        <h3 class="username">{{ profile.username.toUpperCase() }}</h3>
        <p class="fighter-rank">{{ profile.rank }}</p>
      </div>
      <img class="profile-picture" [src]="profile.profilePicturePath">
    </div>
    <div class="turn-bar-div">
      <p class="whos-turn"><b>YOUR OPPONENT TURN...</b></p>
      <mat-progress-bar class="turn-bar" mode="determinate" [value]="progressValue" color="warn"></mat-progress-bar>
    </div>
    <div class="opponent-player">
      <img class="profile-picture" [src]="opponent?.profilePicturePath">
      <div>
        <h3 class="username">{{ opponent?.username.toUpperCase() || 'OPPONENT' }}</h3>
        <p class="fighter-rank">{{ opponent?.rank.toUpperCase() || '?' }}</p>
      </div>
    </div>
  </section>

  <section class="core-part">
    <div class="left-side">
      <div class="character-container" *ngFor="let fighter of team">
        <div class="char-data">
          <img class="left-character" [src]="fighter?.character?.imagePath">
          <div class="health-points green-hp">
            {{ fighter?.currentHp }}/100
          </div>
        </div>
        <img class="skill-container" src="/assets/etc/skills-container-wait.png">
      </div>
    </div>

    <div id="pot">
      <img class="mid-render" src="assets/etc/goku-ssj.png">
    </div>

    <div class="right-side">
      <div class="character-container" *ngFor="let opponentFighter of opponentTeam">
        <div class="char-data">
          <img class="right-character" [src]="opponentFighter?.character?.imagePath">
          <div class="health-points green-hp">
            {{ opponentFighter?.currentHp }}/100
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bottom-left-section">
    <div class="surrender">
      <div class="bottom-left-buttons">
        <a mat-button class="surrender-button" href="/character-selection">SURRENDER</a>
        <a mat-button class="surrender-button">OPEN CHAT</a>
        <a mat-button class="surrender-button">VOLUME: + / -</a>
      </div>

      <img class="tapion" src="assets/etc/tapion.png">
    </div>

    <div class="skill-profile-container">
    </div>
  </section>
</main>
