<main class="main-container" appScaleContent>
  <section class="upper-part">
    <div class="main-player">
      <div class="user-rank">
        <h3 class="username">{{ profile.username.toUpperCase() }}</h3>
        <p class="fighter-rank">{{ profile.rank }}</p>
      </div>
      <img class="profile-picture" [src]="profile.profilePicturePath">
    </div>
    <div class="turn-bar-div">
      <p class="whos-turn"><b>YOUR OPPONENT TURN...</b></p>
      <mat-progress-bar class="turn-bar" mode="determinate" [value]="progressValue" color="warn"></mat-progress-bar>
    </div>
    <div class="opponent-player">
      <img class="profile-picture" [src]="opponent?.profilePicturePath">
      <div>
        <h3 class="username">{{ opponent?.username || 'Opponent' }}</h3>
        <p class="fighter-rank">{{ opponent?.rank || '?' }}</p>
      </div>
    </div>
  </section>

  <section class="core-part">
    <div class="left-side">
      <div class="character-container">
        <div class="char-data">
          <img class="left-character" src="../../../assets/characters/115x115/EarlyGoku.png">
          <div class="health-points green-hp">
            100/100
          </div>
        </div>
        <img class="skill-container" src="../../../assets/etc/skills-container-wait.png">
      </div>
      <div class="character-container">
        <div class="char-data">
          <img class="left-character" src="../../../assets/characters/115x115/TeenGohan.png">
          <div class="health-points yellow-hp">
            60/100
          </div>
        </div>
        <img class="skill-container" src="../../../assets/etc/skills-container-wait.png">
      </div>
      <div class="character-container">
        <div class="char-data">
          <img class="left-character" src="../../../assets/characters/115x115/Kuririn.png">
          <div class="health-points red-hp">
            20/100
          </div>
        </div>
        <img class="skill-container" src="../../../assets/etc/skills-container-wait.png">
      </div>
    </div>

    <div id="pot">
      <img class="mid-render" src="assets/etc/goku-ssj.png">
    </div>

    <div class="right-side">
      <div class="character-container">
        <div class="char-data">
          <img class="right-character" src="../../../assets/characters/115x115/EarlyGoku.png">
          <div class="health-points green-hp">
            80/100
          </div>
        </div>
      </div>
      <div class="character-container">
        <div class="char-data">
          <img class="right-character" src="../../../assets/characters/115x115/TeenGohan.png">
           <div class="health-points red-hp">
            10/100
          </div>
        </div>
      </div>
      <div class="character-container">
        <div class="char-data">
          <img class="right-character" src="../../../assets/characters/115x115/Kuririn.png">
          <div class="health-points yellow-hp">
            30/100
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bottom-left-section">
    <div class="surrender">
      <div class="bottom-left-buttons">
        <a mat-button class="surrender-button" href="/character-selection">SURRENDER</a>
        <a mat-button class="surrender-button">OPEN CHAT</a>
        <a mat-button class="surrender-button">VOLUME: + / -</a>
      </div>

      <img class="tapion" src="assets/etc/tapion.png">
    </div>

    <div class="skill-profile-container">

    </div>
  </section>
</main>
