<main class="main-container">
  <section class="upper-part">
    <div class="main-player">
      <div>
        <h3>{{ player.username }}</h3>
        <p>{{ player.fighterRank }}</p>
      </div>
      <img class="profile-picture" src="../../../assets/profile-picture/ProfilePicture.png">
    </div>

    <div class="turn-bar">
      <img src="../../../assets/buttons/turn-bar.png">
    </div>

    <div class="opponent-player">
      <img class="profile-picture" src="../../../assets/profile-picture/opponent-profile-pic.png">
      <div>
        <h3>{{ opponent.username }}</h3>
        <p>{{ opponent.fighterRank }}</p>
      </div>
    </div>
  </section>
</main>
