.main-container {
  background-image: url(https://cn.i.cdn.ti-platform.com/cnemea/content/1452/showpage/dragonball-super/it/backgroundtile.png);
  color: white;
  height: 93.25vh;
  padding: 2rem 10rem;
  user-select: none;
  align-items: center;
  overflow: hidden;
}

.upper-part {
  display: flex;
  max-height: 120px;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
  z-index: 10;
}

.main-player {
  display: flex;
  gap: 1rem;
}

.opponent-player {
  display: flex;
  gap: 1rem;
}

.profile-picture {
  border: 1px solid black;
  height: 125px;
  width: 125px;
}

.turn-bar-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 0.5rem;
}

.mid-render {
  height: 40rem;
  position: absolute;
  z-index: 1;
  right: 24%;
  top: 18%;
}

.turn-bar{
  border: 1px solid black;
  background-color: white;
}

.core-part {
  display: flex;
  justify-content: space-between;
}

.skill-container {
  border-style: solid;
  border-width: 0.1cap;
  border-color: black;
  z-index: 10;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 14rem;
}

.left-character, .right-character {
  border: 1px solid black;
  z-index: 10;
}

.left-character {
  transform: scaleX(-1);
}


.right-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 14rem;
}

.character-container {
  display: flex;
  gap: 0.6rem;
}

.char-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.username {
  color: rgb(255, 205, 112);
  font-size: 1.4rem;
}

.fighter-rank {
  color: black;
  font-size: 1rem;
}

.user-rank {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.health-points {
  border: 1px solid black;
  width: 115px;
  text-align: center;
  color: black;
  font-size: 0.88rem;
  z-index: 10;
}

.surrender-button {
  background-color: orange;
  margin-bottom: 10rem;
  margin-right: 1rem;
}

.surrender-button:hover {
  background-color:rgb(255, 199, 96);
  color: black;
}

.green-hp {
  background-color: rgb(0, 170, 0);
}

.yellow-hp {
  background-color: rgb(255, 255, 84);
}

.red-hp {
  background-color: rgb(211, 0, 0);
}

.whos-turn {
  font-size: 1.2rem;
}

.bottom-left-section {
  margin-top: 2rem;
}

.tapion {
  height: 14.25rem;
  transform: scaleX(-1);
}

.surrender {
  margin-left: 10rem;
}
