.main-container {
  height: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  gap: 10rem;
  background-color: rgb(3, 0, 27);
  border: 0.5px;
  border-color: rgb(70,70,70);
  border-style: solid;
}

mat-button {
  background-color: transparent;
}

.mat-drawer {
  width: 14%;
  padding: 1.5% 1%;
  background-color: rgb(10, 12, 39)
}

.drawer-content {
  padding: 0% 1%;
  background-color: rgb(9, 11, 32);
}

.side-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 0.5rem;
}

.side-button {
  background-color: rgb(14, 17, 53);
}

a:hover {
  background-color: rgb(223, 130, 0);
  color: rgb(99, 2, 2);
}

.button-toggle {
  background-color: transparent;
}

.button-toggle:hover {
  background-color: rgb(223, 130, 0);
  color: rgb(99, 2 , 2);
}

