<mat-toolbar *ngIf="router.url !== '/character-selection' && router.url !== '/battle'">
    <a mat-button href="/home">HOME PAGE</a>
    <a mat-button href="/character-selection" target="_blank">START PLAYING</a>
    <a mat-button href="/missions">MISSIONS</a>
    <a mat-button href="/game-manual">GAME MANUAL</a>
</mat-toolbar>
<mat-drawer-container class="main-container" *ngIf="router.url !== '/character-selection' && router.url !== '/battle'">
  <mat-drawer mode="side" class="mat-drawer" opened>
    <div>Your logged as ...</div>
    <div class="side-buttons">
      <a mat-stroked-button class="side-button" href="/character-selection" target="_blank">PLAY NOW</a>
      <a mat-stroked-button class="side-button" href="/profile">View profile</a>
      <a mat-stroked-button class="side-button" href="/settings">Account settings</a>
      <a mat-stroked-button class="side-button" href="/leaderboards">Ladder game leaderboard</a>
      <a mat-stroked-button class="side-button" href="/logout">Logout</a>
    </div>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>

<div *ngIf="router.url === '/character-selection' || router.url === '/battle'">
  <router-outlet></router-outlet>
</div>
