@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'DiscordFont';
  src: url('/assets/fonts/uni-sans.heavy-caps.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.main-container {
  height: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: start;
  gap: 15rem;
  background-color: rgb(3, 0, 27);
  border: 0.5px;
  border-color: rgb(70,70,70);
  border-style: solid;
}

mat-button {
  background-color: transparent;
}

.logo {
  max-width: 14rem;
}

.logo-home {
  padding-top: 0.8rem;
}

.discord-icon {
  height: 1.5rem;
}

mat-divider {
  margin-bottom: 1rem;
}

.discord-button, .patreon-button {
  background-color: #5765EB;
  font-family: 'DiscordFont';
  font-weight: 600;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: whitesmoke;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  height: 2.4rem;
  margin-bottom: 1rem;
}

.discord-button {
  background-color: #5765EB;
}

.discord-name {
  padding-top: 0.2rem;
}

.patreon-button {
  background-color: rgb(245, 89, 89);
}

.mat-drawer {
  width: 14%;
  padding: 1%;
  background-color: rgb(10, 12, 39)
}

.drawer-content {
  padding: 1%;
  background-color: rgb(9, 11, 32);
}

.side-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.side-button {
  background-color: rgb(14, 17, 53);
}

a:hover {
  background-color: rgb(223, 130, 0);
  color: rgb(99, 2, 2);
}

.button-toggle {
  background-color: transparent;
}

.button-toggle:hover {
  background-color: rgb(223, 130, 0);
  color: rgb(99, 2 , 2);
}

.nickname {
  color: orange;
}

@media (max-width: 1200px) {
  .discord-button {
    font-size: 0.8rem;
  }
}
