<mat-toolbar *ngIf="router.url !== '/character-selection' && router.url !== '/battle'">
  <a mat-button href="/home">HOME PAGE</a>
  <a mat-button href="/character-selection" target="_blank">START PLAYING</a>
  <a mat-button href="/missions">MISSIONS</a>
  <a mat-button href="/game-manual">GAME MANUAL</a>
  <mat-button-toggle-group class="toggle" [value]="theme" (change)="onThemeChange($event.value)">
    <mat-button-toggle value="light" class="button-toggle">Light</mat-button-toggle>
    <mat-button-toggle value="dark" class="button-toggle">Dark</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
<mat-drawer-container class="main-container" *ngIf="router.url !== '/character-selection' && router.url !== '/battle' && router.url !== '/login' && router.url !== '/register'">
  <mat-drawer mode="side" class="mat-drawer" opened>
    <div>Your logged as <strong class="nickname">pecodigos</strong></div>
    <div class="side-buttons">
      <a mat-stroked-button class="side-button" href="/profile">View profile</a>
      <a mat-stroked-button class="side-button" href="/change-password">Change your password</a>
      <a mat-stroked-button class="side-button" href="/leaderboards">Ladder game leaderboard</a>
      <a mat-stroked-button class="side-button" href="/home">Logout</a>
    </div>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>

<div *ngIf="router.url === '/character-selection' || router.url === '/battle' || router.url === '/login' || router.url === '/register'">
  <router-outlet></router-outlet>
</div>
