.main-container {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/79fe02f0-39f6-415c-8f29-9b056e47aae2/dhvzc30-d3d63ac3-0860-4707-88c9-ca73c3a04b3a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc5ZmUwMmYwLTM5ZjYtNDE1Yy04ZjI5LTliMDU2ZTQ3YWFlMlwvZGh2emMzMC1kM2Q2M2FjMy0wODYwLTQ3MDctODhjOS1jYTczYzNhMDRiM2EucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-8kxxERRTOR3ibm7HbOs5rJGfkxz6Jg2u6BPZjbUZ9A);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
}

mat-button {
  color: black;
}

.selection {
  margin: 1rem;
  border-radius: 1rem;
  background-color: rgba(253, 250, 216, 0.95);
  display: flex;
  gap: 0.6rem;
  min-height: 22rem;
  min-width: 65rem;
  margin-bottom: 8rem;
  box-shadow: 1px 1px 4px 1px;
}

.nav-button {
  color: black;
}

.buttons-row {
  display: flex;
  gap: 2.5rem;
}

.each-button {
  background-color: rgba(255, 173, 51, 0.93);
}

.character-container {
  text-align: center;
  padding: 1rem;
  padding-left: 2.2rem;
}

.char-player {
  min-height: 18rem;
  min-width: 40rem;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  justify-items: center;
}

.character-card:hover {
  transform: scale(1.02);
}

.fighter-skill-container {
  background-color: rgba(253, 250, 216, 0.98);
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  width: 800px;
  height: 250px;
  overflow: hidden;
  box-sizing: border-box;
  border: 0.2rem solid rgba(253, 143, 52, 0.98);
  gap: 10rem;
}

.close-button {
  background-color: transparent;
  display: flex;
  z-index: 100;
  position: absolute;
  right: 30%;
  top: 6%;
}

.character-card img {
  width: 80px;
  height: 80px;
  border-radius: 0.1rem;
  border-style: solid;
  border-width: 0.15cap;
  transform: scaleX(-1);
  position: relative;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-buttons button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: black;
  border-radius: 5px;
  cursor: default;
  transition: background-color 0.2s ease;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  margin-top: 1rem;
  margin-left: 1rem;
}

.profile-div img {
  border-style: solid;
  border-radius: 0.1rem;
  border-color: black;
  border-width: 0.15cap;
  max-height: 7rem;
}

.profile-info {
  font-size: 0.85rem;
}

.button-sub-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-div {
  display: flex;
  gap: 1rem;
  color: black;
  padding: 0.5rem;
}

.team-div {
  display: flex;
  gap: 1rem;
}

.team {
  border: 1px solid black;
  height: 80px;
  width: 80px;
}


.team img {
  width: 100%;
  height: 100%;
}

.logo {
  max-height: 20rem;
  z-index: 2;
}

.left-arrow {
  transform: scaleX(-1);
}

.arrow-img {
  height: 2.5rem;
  position: relative;
}

.selected-character {
  border: 1px solid black;
  transform: scaleX(-1);
}

.fighter-skill-container img {
  width: 100px;
  height:100px;
}

.img-row {
  display: flex;
  gap: 12.5rem;
  margin-bottom: 0.6rem;
}

.skills {
  display: flex;
  gap: 0.6rem;
}

.skill {
  height: 102px;
  width: 102px;
}

.skill img {
  border: 1px solid black;
}

.mid-section {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
}

.energy-cost {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;

}

.energy {
  font-size: 0.6rem;
}

.name-description {
  margin-right: 7.4rem;
}

.name-energy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-shrink: 0;
}

.description {
  text-align: start;
  font-size: 0.8rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.currentSelected {
  position: fixed;
  right: 2.95%;
}

.energy-cost img {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

.energy-div {
  display: flex;
  gap: 0.2rem;
  position: absolute;
  right: 20%;
}

.classes-cooldown {
  display: flex;
  font-size: 0.58rem;
  position: absolute;
  bottom: 5%;
  left: 4%;
}

.classes {
  display: flex;
  justify-content: start;
  gap: 0.2rem;
  min-width: 32rem;
}

.classes-sub-div {
  display: flex;
}

.cooldown {
  color: black;
}

.dragabble-placeholder {
  position: absolute;
  display: none;
  z-index: 1000;
  pointer-events: none;
}

.character-card.draggning img {
  visibility: hidden;
}

@media (max-width: 900px) {
  .logo {
    display: none;
  }

  .fighter-skill-container {
    display: flex;
    flex-direction: row;
  }

  .right-section img {
    max-height: 2rem;
    max-width: 2rem;
  }

  .selection {
    display: flex;
    flex-direction: column;
    min-width: 40rem;
  }

  .buttons-row {
    display: flex;
    flex-direction: column;
  }

  .buttons-row img {
    max-width: 15rem;
  }

  .logout-button {
    max-height: 4rem;
  }

  .profile-div {
    display: none;
  }
}


