<main class="main-container" appScaleContent>
  <section class="upper-part">
    <img src="../../../assets/etc/Dragon_Ball_logo.png" class="logo">
    <div *ngIf="selectedCharacter">
      <a class="close-button" mat-button (click)="closeContainer()">X</a>
      <div class="fighter-skill-container">
        <div class="img-row">
          <img class="selected-character" [src]="selectedCharacter.imagePath" [alt]="selectedCharacter.name" (click)="selectCharacter(selectedCharacter)"/>
          <div class="skills">
            <div class="skill" *ngFor="let ability of selectedCharacter?.abilities" (click)="showAbilityDetails(ability)">
              <img [src]="ability.imagePath" [alt]="ability.name">
            </div>
          </div>
        </div>

        <section class="mid-section">
          <div class="name-description">
            <div class="details" *ngIf="viewMode === 'character'">
              <p class="name">{{ selectedCharacter.name }}</p>
              <p class="description">{{ selectedCharacter.description }}</p>
            </div>

            <div class="details" *ngIf="viewMode === 'ability'">
              <div class="name-energy">
                <p class="name">{{ selectedAbility?.name }}</p>
                <div class="energy-div">
                  <p class="energy">ENERGY:</p>
                  <div class="energy-cost" *ngFor="let cost of selectedAbility?.cost">
                    <ng-container *ngFor="let _ of costService.getArray(cost.amount)">
                      <img class="cost-image" [src]="costService.getEnergyImage(cost.energyType)" alt="cost image" />
                    </ng-container>
                  </div>
                </div>
              </div>
              <p class="description">{{ selectedAbility?.description }}</p>
              <div class="classes-cooldown">
                <div class="classes" *ngIf="selectedAbility?.classes?.length">
                  CLASSES:
                  <div class="classes-sub-div" *ngFor="let classType of selectedAbility?.classes; let last = last">
                    {{ classType }} <div *ngIf="!last">, </div>
                  </div>
                </div>
                <div class="cooldown">
                  COOLDOWN: {{ selectedAbility?.cooldown }}
                </div>
              </div>
            </div>
          </div>
          <div class="currentSelected">
            <img *ngIf="viewMode === 'ability'" [src]="selectedAbility?.imagePath" [alt]="selectedAbility?.name" style="border: 1px solid black;">
            <img *ngIf="viewMode === 'character'" [src]="selectedCharacter.imagePath" [alt]="selectedCharacter.name" class="selected-character">
          </div>
        </section>
      </div>
    </div>

  </section>
  <section class="buttons-row" style="margin-bottom: 1rem; margin-top: 2rem;">
    <div class="button-sub-div">
      <img src="assets/buttons/logout.png" class="each-button" (click)="onLogout()">
    </div>

    <div class="button-sub-div">
      <img src="assets/buttons/ladder-button.png" class="each-button" (click)="startSearching(BattleQueueType.LADDER)">
    </div>

    <div class="button-sub-div">
      <img src="assets/buttons/quick-button.png" class="each-button" (click)="startSearching(BattleQueueType.QUICK)">
    </div>

    <div class="button-sub-div">
      <img src="assets/buttons/private-button.png" class="each-button" (click)="startSearching(BattleQueueType.PRIVATE)">
    </div>
  </section>

  <section class="selection">
    <div class="character-container">
      <div class="char-player">
        <div class="character-grid">
          <ng-container *ngFor="let row of characterGrid; let rowIndex = index">
            <div class="grid-row">
              <ng-container *ngFor="let character of row; let colIndex = index">
                <div class="character-card" *ngIf="character" cdkDrag  [cdkDragData]="character" [attr.data-character-id]="character.id" [attr.data-grid-position]="rowIndex" (click)="selectCharacter(character)" (cdkDragStarted)="onDragStarted($event, character)" (cdkDragReleased)="onCharacterReleased($event, character)" (dblclick)="addToFirstAvailableSlot(character)">
                  <img [src]="character.imagePath" [alt]="character.name" style="font-size: 0.7rem;" [appPreventDrag]="false" />
                </div>
              </ng-container>
            </div>
          </ng-container>

        </div>
      </div>

      <div class="navigation-buttons">
        <a mat-button (click)="previousPage()">
          <img class="left-arrow arrow-img" src="../../../assets/buttons/arrow-right.png">
        </a>
        <a mat-button (click)="nextPage()">
          <img class="arrow-img" src="../../../assets/buttons/arrow-right.png">
        </a>
      </div>
    </div>

    <div *ngIf="viewMode === 'searching' || viewMode === 'match-found'" class="searching">
      <h4 *ngIf="viewMode === 'searching'">SEARCHING FOR AN OPPONENT...</h4>
      <h4 *ngIf="viewMode === 'match-found'">OPPONENT FOUND!</h4>
      <img class="searching-gif" src="https://i.pinimg.com/originals/44/a3/e5/44a3e5c82edd5b7668787d316c9efe39.gif">
      <a *ngIf="viewMode === 'searching'" mat-button class="cancel-button" (click)="stopSearching()">CANCEL</a>
    </div>

    <div class="right-section">
      <div class="profile-div" *ngIf="profile">
        <div class="profile-picture">
          <img [src]="profile.profilePicturePath" [alt]="profile.username">
        </div>

        <div class="profile-info">
          <p>{{ profile.username }}</p>
          <p>{{ profile.rank }}</p>
          <p *ngIf="!(profile.clan == '')">CLAN: {{ profile.clan }}</p>
          <p *ngIf="profile.clan == ''">CLAN: Clanless</p>
          <p>LEVEL: {{ profile.currentLevel }}</p>
          <p>LADDERRANK: #{{ profile.ladderRank }}</p>
          <p>RATIO: {{ profile.wins }} - {{  profile.loses }} ({{ profile.currentStreak }})</p>
        </div>
      </div>

      <div class="team-div">
        <div class="team" *ngFor="let slot of currentTeam; let i = index">
          <ng-container *ngIf="slot.character">
            <img [src]="slot.character.imagePath" [alt]="slot.character.name" />
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</main>
