.main-container {
  background-color: rgb(4, 0, 22);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selection {
  margin: 1rem;
  border: 1px;
  border-color: aliceblue;
  border-style: solid;
  border-radius: 0.25rem;
  height: 40%;
  width: 55%;
  background-color: rgb(0, 7, 36);
  padding: 0.5rem;
  overflow: scroll;
  display: flex;
}

.buttons-row {
  display: flex;
  gap: 1rem;
}

.each-button {
  background-color: transparent;
  cursor: default;
}

.character-container {
  text-align: center;
  padding: 1rem;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  justify-items: center;
  padding-right: 1rem;
}

.character-card:hover {
  transform: scale(1.02);
}

.character-card img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  border-style: solid;
  transform: scaleX(-1);
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navigation-buttons button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.navigation-buttons button:hover:not(:disabled) {
  background-color: #0056b3;
}

.dragon-ball {
  height: 50px;
  width: 50px;
}

.right-section {
  display: flex;
  flex-direction: column;
}

.profile-div img {
  border-style: solid;
  border-radius: 0.25rem;
  border-color: whitesmoke;
  border-width: 0.2cap;
  max-height: 120px;
  margin-top: 1.1rem;
}

.button-sub-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-div {
  display: flex;
  gap: 1rem;
  color: whitesmoke;
  padding: 0.5rem;
}

.team-div {
  display: flex;
  gap: 1rem;
}
