<main class="main-container">
  <section class="buttons-row">
    <div class="button-sub-div">
     <a class="each-button" href="/home">
      <img src="../../../assets/buttons/logout.png">
     </a>
    </div>
    <div>
      <a class="each-button">
        <img src="../../../assets/buttons/ladder-game.png">
      </a>
    </div>
    <div>
      <a class="each-button">
        <img src="../../../assets/buttons/quick-game.png">
      </a>
    </div>
    <div>
      <a class="each-button">
        <img src="../../../assets/buttons/private-game.png">
      </a>
    </div>
  </section>
  <section class="selection">
    <div class="character-container">
      <!-- Character Grid -->
      <div class="char-player">
        <div class="character-grid">
          <div class="character-card" *ngFor="let character of visibleCharacters">
            <img [src]="character.image" [alt]="character.name" />
          </div>
        </div>

      </div>
      <!-- Navigation Buttons -->
      <div class="navigation-buttons">
        <a mat-button (click)="previousPage()" [disabled]="currentPage === 0">
          ← Previous
        </a>
        <a mat-button (click)="nextPage()" [disabled]="(currentPage + 1) * charactersPerPage >= characters.length">
          Next →
        </a>
      </div>
    </div>
  </section>
</main>
