.main-container {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/79fe02f0-39f6-415c-8f29-9b056e47aae2/dhvzc30-d3d63ac3-0860-4707-88c9-ca73c3a04b3a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc5ZmUwMmYwLTM5ZjYtNDE1Yy04ZjI5LTliMDU2ZTQ3YWFlMlwvZGh2emMzMC1kM2Q2M2FjMy0wODYwLTQ3MDctODhjOS1jYTczYzNhMDRiM2EucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-8kxxERRTOR3ibm7HbOs5rJGfkxz6Jg2u6BPZjbUZ9A);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
}

mat-button {
  color: black;
}

.selection {
  margin: 1rem;
  border-radius: 1rem;
  background-color: rgba(253, 250, 216, 0.95);
  display: flex;
  gap: 0.6rem;
  min-height: 22rem;
  min-width: 64.4rem;
  margin-bottom: 6.5rem;
  box-shadow: 1px 1px 4px 1px;
}

.nav-button {
  color: black;
}

.buttons-row {
  display: flex;
  gap: 2.5rem;
}

.each-button {
  z-index: 1;
}

.character-container {
  text-align: center;
  padding: 1rem;
  padding-left: 2.2rem;
}

.char-player {
  min-height: 18rem;
  min-width: 40rem;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  justify-items: center;
}

.grid-slot {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fighter-skill-container {
  background-color: rgba(253, 250, 216, 0.98);
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  width: 800px;
  height: 250px;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid orange;
  border-radius: 0.1rem;
}

.close-button {
  background-color: rgba(253, 0, 0, 0.6);
  display: flex;
  z-index: 1;
  position: absolute;
  right: 29.1%;
  top: 4.25%;
}

.character-card {
  position: relative;
  z-index: 3;

  &.cdk-drag-placeholder {
    display: none;
  }
}

.character-card img {
  width: 80px;
  height: 80px;
  border-radius: 0.1rem;
  border-style: solid;
  border-width: 0.15cap;
  transform: scaleX(-1);
  position: relative;
  z-index: 1;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-buttons button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: black;
  border-radius: 5px;
  cursor: default;
  transition: background-color 0.2s ease;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  margin-top: 1rem;
  margin-left: 1rem;
}

.profile-div img {
  border-style: solid;
  border-radius: 0.1rem;
  border-color: black;
  border-width: 0.15cap;
  height: 100px;
}

.profile-info {
  font-size: 0.8rem;
}

.button-sub-div {
  display: flex;
  align-items: center;
}

.profile-div {
  display: flex;
  gap: 1rem;
  color: black;
  padding: 0.5rem;
}

.team-div {
  display: flex;
  gap: 1rem;
}

.team {
  border: 1px solid black;
  height: 80px;
  width: 80px;
  background-color: rgb(221, 217, 204);
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(221, 217, 204);
    z-index: 1;
  }

  img {
    position: relative;
    z-index: 2;
  }
}

.cdk-drag-preview {
  z-index: 1001;
}

.team img {
  width: 100%;
  height: 100%;
}

.logo {
  max-height: 18rem;
  z-index: 2;
}

.left-arrow {
  transform: scaleX(-1);
}

.arrow-img {
  height: 2.5rem;
  position: relative;
}

.selected-character {
  border: 1px solid black;
  transform: scaleX(-1);
}

.fighter-skill-container img {
  width: 100px;
  height:100px;
}

.img-row {
  display: flex;
  gap: 12.5rem;
  margin-bottom: 0.6rem;
}

.skills {
  display: flex;
  gap: 0.6rem;
}

.skill {
  height: 102px;
  width: 102px;
}

.skill img {
  border: 1px solid black;
}

.mid-section {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
}

.energy-cost {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;

}

.energy {
  font-size: 0.6rem;
}

.name-description {
  margin-right: 7.4rem;
}

.name-energy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-shrink: 0;
}

.description {
  text-align: start;
  font-size: 0.7rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.currentSelected {
  position: fixed;
  right: 2.95%;
}

.energy-cost img {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

.energy-div {
  display: flex;
  gap: 0.2rem;
  position: absolute;
  right: 20%;
}

.classes-cooldown {
  display: flex;
  font-size: 0.58rem;
  position: absolute;
  bottom: 5%;
  left: 4%;
}

.classes {
  display: flex;
  justify-content: start;
  gap: 0.2rem;
  min-width: 32rem;
}

.classes-sub-div {
  display: flex;
}

.cooldown {
  color: black;
}

.dragabble-placeholder {
  position: absolute;
  display: none;
  z-index: 1000;
  pointer-events: none;
}

.searching {
   position: absolute;
   left: 50%;
   top: 42%;
   transform: translate(-50%, -50%);
   width: 31rem;
   height: 21rem;
   background-color:rgba(253, 250, 216, 0.98);
   z-index: 1001;
   border: 0.1rem solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
   border-radius: 0.6rem;
}

.cancel-button {
  color: black !important;
  border: 1px solid black;
}

.cancel-button:hover {
  background-color:rgba(223, 220, 193, 0.95)
}

.searching-gif {
  width: 24rem;
  border: 1px solid black;
}

.character-card.dragging {
  z-index: 4;
}

@keyframes enterSkillContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .logo {
    display: none;
  }

  .selection {
    display: flex;
    flex-direction: column;
    min-width: 40rem;
    height: 68%;
    margin-bottom: 1px;
  }

  .profile-div {
    height: 4.5rem;
  }

  .buttons-row img {
    max-width: 15rem;
  }

  .buttons-row {
    align-items: center;
    gap: 1px;
  }
}


