<main class="main-container">
  <h4>Account information</h4>
  <mat-card appearance="outlined" *ngIf="profile$ | async as profile;">
    <mat-list class="player-info">
      <img [src]="profile.profilePicturePath" class="profile-picture">
      <div>
        <mat-list-item><b>Username:</b> {{ profile.username }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><b>Role:</b> {{ profile.role}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><b>Registered on:</b> {{ profile.createdAt }}</mat-list-item>
      </div>
    </mat-list>
  </mat-card>

  <h4>Ladder information</h4>
  <mat-card appearance="outlined" *ngIf="profile$ | async as profile;">
    <div class="ladder-info">
      <mat-list-item><b>Level:</b> {{ profile.currentLevel }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>Ladder Rank:</b> {{ profile.rank }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>Wins:</b> {{ profile.wins }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>Losses:</b> {{ profile.loses }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>Win percentage:</b></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>Streak:</b> {{ profile.currentStreak }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>Highest Streak:</b> {{ profile.highestStreak }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>Highest Level:</b> Level {{ profile.highestLevel }}</mat-list-item>
    </div>
  </mat-card>

  <h4>Match History</h4>
  <mat-card appearance="outlined">
    <div class="match-history">
      <mat-list-item>November 30, 2024 02:03</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>pecodigos vs zecodigos</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Winner: pecodigos</mat-list-item>
    </div>
  </mat-card>
</main>
