.main-container {
  display: flex;
  flex-direction: column;
}

mat-card-header {
  background-color: var(--card-color);
}

.player-info {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.ladder-info {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.profile-picture {
  border-style: solid;
  border-radius: 0.25rem;
  border-color: whitesmoke;
  border-width: 0.2cap;
}


