@use '@angular/material' as mat;

/* Define Light Theme */
$db-arena-angular-primary: mat.define-palette(mat.$indigo-palette);
$db-arena-angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$db-arena-angular-warn: mat.define-palette(mat.$red-palette);

$db-arena-angular-light-theme: mat.define-light-theme((
  color: (
    primary: $db-arena-angular-primary,
    accent: $db-arena-angular-accent,
    warn: $db-arena-angular-warn,
  ),
));

/* Define Dark Theme */
$db-arena-angular-dark-theme: mat.define-dark-theme((
  color: (
    primary: $db-arena-angular-primary,
    accent: $db-arena-angular-accent,
    warn: $db-arena-angular-warn,
  ),
));

/* Apply Themes Based on Body Class */
body.light-theme {
  @include mat.all-component-themes($db-arena-angular-light-theme);
}

body.dark-theme {
  @include mat.all-component-themes($db-arena-angular-dark-theme);
}
